<mat-list>
  <mat-list-item *ngFor="let message of signalRService.messages">
    <span>{{message.user}}: </span>
    <span>{{message.content}}</span>
  </mat-list-item>
</mat-list>
<form [formGroup]="form" class="chat-form" (ngSubmit)="onSend()">
  <mat-form-field class="chat-form-field" appearance="fill">
    <mat-label>Send a message</mat-label>
    <textarea matInput formControlName="message" placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  <button mat-button color="primary" type="submit">Send</button>
</form>
