<mat-list>
  <mat-list-item *ngFor="let message of signalRService.messages">
    <span>{{message.user}}</span>
    <span>{{message.content}}</span>
  </mat-list-item>
</mat-list>
<input>

<form class="chat-form" onsubmit="onSend()">
  <mat-form-field class="chat-form-field" appearance="fill">
    <mat-label>Send a message</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  <button mat-button color="primary" type="submit">Send</button>
</form>
