<div class="chat-container">
  <div class="chat-history">
    <mat-list>
      <div *ngFor="let message of signalRService.messages; let i = index" class="message">
        <mat-list-item>
          <p class="user-name">{{message.user}}: </p>
          <p class="message-content">{{message.content}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>
  <form [formGroup]="form" class="chat-form" (ngSubmit)="onSend()" (keyup.enter)="onSend()">
    <mat-form-field class="chat-form-field" appearance="fill">
      <mat-label>Send a message</mat-label>
      <textarea matInput formControlName="message" placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button mat-button color="primary" type="submit">Send</button>
    <button mat-button color="primary" type="button" (click)="createChat()">Create chat</button>
  </form>
</div>
